//////////////////////////////
// Colors
//////////////////////////////
$black: #161616;
$white: #fefefe;
$gray: mix($black, $white);
$cs-primary: #3B1D62;

$black-tints:      tint-stack($black);
$primary-tints:    tint-stack(cs-primary());
$secondary-tints:  tint-stack(#CD2A2B);
$tertiary-tints:   tint-stack(#199E8D);
$quaternary-tints:   tint-stack(#E68C1A);
$primary-shades:   shade-stack(cs-primary());
$secondary-shades: shade-stack(#CD2A2B);
$tertiary-shades:  shade-stack(#199E8D);
$quaternary-shades:  shade-stack(#E68C1A);

$cs-secondary: cs-secondary();

// link colors
$cs-link-normal: nth($primary-shades, 1);
$cs-link-hover: nth($primary-tints, 3);
$cs-link-active: nth($primary-tints, 3);
$cs-link-visited: nth($secondary-tints, 2);
$cs-link-focus: nth($primary-tints, 3);
$cs-link-border-normal: nth($tertiary-shades, 2);
$cs-link-border-hover: nth($tertiary-shades, 3);
$cs-link-border-active: nth($tertiary-tints, 2);
$cs-link-border-visited: nth($tertiary-shades, 4);
$cs-link-border-focus: nth($tertiary-shades, 4);

//////////////////////////////
// Background Colors
//////////////////////////////
$cs-background: $white;

//////////////////////////////
// Text Colors
//////////////////////////////
$cs-text-dark: $black;
$cs-text-light: $white;
$cs-text: $cs-text-dark;

//////////////////////////////
// Border Colors
//////////////////////////////
$cs-border: $gray;

//////////////////////////////
// Status Colors
//////////////////////////////
$cs-status-status: nth($primary-tints, 6);
$cs-status-warning: nth($quaternary-tints, 2);
$cs-status-error: nth($secondary-shades, 2);

//////////////////////////////
// Component defaults
//////////////////////////////
// Buttons
$cs-button-color-default: nth($primary-shades, 1);
//////////////////////////////
// Messages
$cs-message-text-color-default: nth($secondary-tints, 1);
$cs-message-bkg-color-default: $cs-status-status;
//////////////////////////////
